@import './variables.scss';

.contact-me {
  @include flexCenter(column);
  margin: 50px 10px;
  overflow: hidden;

  h1 {
    margin: 0;
    font-size: 60px;
  }

  p {
    font-size: 30px;
    margin: 0;
  }

  .lets-work {
    margin: 0;
    font-size: 20px;
  }

  .contact-info {
    margin-top: 50px;
    @include flexCenter(column);
    gap: 0;
  }
}
