@import './variables.scss';

header {
  @include flexCenter(row);
  justify-content: space-between;
  margin: 0 25px;

  .header-buttons {
    @include flexCenter(row);
  }

  .header-button {
    @include buttons;
  }

  img {
    width: 300px;
    cursor: pointer;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

@media (max-width: $mobile-width) {
  header {
    justify-content: center;
  }
  .header-button {
    display: none;
  }
}
