@import './variables.scss';

.project {
  @include flexCenter(column);
  max-width: 350px;

  .project-card {
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 25px;
    padding-bottom: 15px;
    overflow: hidden; /* hide the overflowing content */
    cursor: pointer;

    img {
      max-width: 100%;
    }

    .project-title {
      font-size: 25px;
      margin: 0;
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }

  .project-details {
    @include flexCenter(column);
    align-items: flex-start;
    color: white;
    font-weight: 700;

    .project-skills {
      @include flexCenter(row);
      gap: 15px;
      margin-left: 10px;
      font-weight: normal;
      p {
        margin: 0;
      }

      .project-skill-item {
        border: 1px solid white;
        border-radius: 4px;
        padding: 5px;
      }
    }
  }
}

.project-github-repo {
  @include buttons;
  @include flexCenter(row);
  gap: 10px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  background-color: #7b1ec2;
  margin: 5px;
  transition: $hover-buttons;
  border-radius: 10px;
  &:hover {
    background-color: white;
    color: #7b1ec2;

    a {
      color: #7b1ec2;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }
}
