@import './variables.scss';

.skills {
  @include flexCenter(column);

  margin: 20px 15px;
  .skills-container {
    @include flexCenter(row);
  }
  .skills-icons {
    @include flexCenter(row);
    flex-wrap: wrap;
    align-self: flex-start;
    gap: 15px;
    max-width: 300px;
    p {
      @include flexCenter(column);
      gap: 10px;
      font-size: 13px;

      &:hover {
        color: $second-fon-color;
      }

      i {
        font-size: 50px;
      }
    }
  }

  .skills-list {
    @include flexCenter(column);
    max-width: 50%;
    align-items: flex-start;
    font-size: 20px;
    text-align: start;
  }
}

@media (max-width: $mobile-width) {
  .skills {
    .skills-container {
      @include flexCenter(column);
      .skills-list {
        max-width: 100%;
      }
    }
    .skills-icons {
      margin-top: 50px;
      align-self: center;
    }
  }
}
