@import './variables.scss';

.summary-container {
  margin: 30px;
  h1 {
    font-size: 60px;
    margin: 0;
  }

  p {
    font-size: 30px;
    margin: 0;
  }

  .summary-paragraph {
    font-size: 20px;
    max-width: 50%;
    margin: 15px auto;

    a {
      color: $second-fon-color;
      transition: $hover-buttons;
      cursor: pointer;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid $second-fon-color;
      }
    }
  }

  .summary-links {
    @include flexCenter(row);
    gap: 10px;
  }

  .summary-link {
    cursor: pointer;
    font-size: 40px;
    color: white;
    text-decoration: none;
    transition: $hover-buttons;

    &:hover {
      color: $second-fon-color;
    }
  }

  .summary-buttons {
    margin-top: 15px;
    button {
      @include buttons;
      background-color: #7b1ec2;
      margin: 5px;
      transition: $hover-buttons;
      border-radius: 10px;
      &:hover {
        background-color: white;
        color: #7b1ec2;

        a {
          color: #7b1ec2;
        }
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
