@mixin flexCenter($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: center;
  align-items: center;
}

@mixin buttons {
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 10px 25px;
  cursor: pointer;

  &:hover {
    background-color: #581c87;
  }
}

$hover-buttons: 0.3s all ease-in-out;
$second-fon-color: #a855f7;
